.App {
  text-align: center;
}


.App-content {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 16px;
}

a {
  color: red;
  font-size: 32px;
  text-decoration: none;

}

img {
  object-fit: contain;
  width: 200px;
  height: 300px;
}